<%= render :partial => 'user_bar', :locals => {:status => 3} %>

<h1>ネット点字印刷サービス ユーザ情報の確認</h1>
<div class="margintopArea">入力した内容を確認後、「登録する」ボタンをクリックしてください。</div>

<% form_tag register_path do -%>
<%= render :partial => 'hidden' %>
<div class="margintopArea">
  <table class='tableArea formtableWidth'>
    <tr>
      <td class="captiontableArea">名前</td>
      <td class="formtableArea"><%= h params[:tenji_user]['firstname_kanji'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">ふりがな（ひらがなで入力）</td>
      <td class="formtableArea"><%= h params[:tenji_user]['firstname_kana'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">郵便番号(半角英数)</td>
      <td class="formtableArea">
        <% if !params[:tenji_user]['zip_code1'].blank? && !params[:tenji_user]['zip_code2'].blank? %>
          <%= h params[:tenji_user]['zip_code1'] %>-<%= h params[:tenji_user]['zip_code2'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="captiontableArea">住所(都道府県)</td>
      <td class="formtableArea"><%= h params[:tenji_user]['user_address1'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">住所(市区郡)</td>
      <td class="formtableArea"><%= h params[:tenji_user]['user_address2'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">住所(町村字)</td>
      <td class="formtableArea"><%= h params[:tenji_user]['user_address3'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">住所(番地)</td>
      <td class="formtableArea"><%= h params[:tenji_user]['user_address4'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">住所(建物)</td>
      <td class="formtableArea"><%= h params[:tenji_user]['user_address5'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">会社名</td>
      <td class="formtableArea"><%= h params[:tenji_user]['lastname_kanji'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">部署名</td>
      <td class="formtableArea"><%= h params[:tenji_user]['lastname_kana'] %></td>
    </tr>
    <tr>
      <td class="captiontableArea">電話番号(半角英数)</td>
      <td class="formtableArea">
        <% if !params[:tenji_user]['phone_number1'].blank? && !params[:tenji_user]['phone_number2'].blank? && !params[:tenji_user]['phone_number3'].blank? %>
          <%= h params[:tenji_user]['phone_number1'] %>-
          <%= h params[:tenji_user]['phone_number2'] %>-
          <%= h params[:tenji_user]['phone_number3'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="captiontableArea">FAX番号(半角英数)</td>
      <td class="formtableArea">
        <% if !params[:tenji_user]['fax_number1'].blank? && !params[:tenji_user]['fax_number2'].blank? && !params[:tenji_user]['fax_number3'].blank? %>
          <%= h params[:tenji_user]['fax_number1'] %>-
          <%= h params[:tenji_user]['fax_number2'] %>-
          <%= h params[:tenji_user]['fax_number3'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="captiontableArea">携帯電話番号(半角英数)</td>
      <td class="formtableArea">
        <% if !params[:tenji_user]['cellphone_number1'].blank? && !params[:tenji_user]['cellphone_number2'].blank? && !params[:tenji_user]['cellphone_number3'].blank? %>
          <%= h params[:tenji_user]['cellphone_number1'] %>-
          <%= h params[:tenji_user]['cellphone_number2'] %>-
          <%= h params[:tenji_user]['cellphone_number3'] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="captiontableArea">携帯電話メールアドレス</td>
      <td class="formtableArea"><%= h params[:tenji_user]['cellphone_email'] %></td>
    </tr>
  </table>
</div>

<div class="spacer_mini"></div>
<div class="divLeft">
  <%= submit_tag '上記の内容で登録する', :name => 'next_page', :disable_with => 'しばらくお待ちください。' %>
<% end -%>
</div>

<% form_tag :controller => 'users', :action => 'new' do -%>
<%= render :partial => 'hidden' %>
<div>
  <%= submit_tag '前画面へ戻る', :name => 'back_page', :disable_with => 'しばらくお待ちください。' %>
<% end -%>
</div>
