<h1 id="honbun">印刷依頼情報：確認</h1>
<p>以下の内容でよろしければ、「この内容で印刷依頼する」ボタンを押してください。</p>
<% form_tag({:controller => 'requests'}) do -%>
<% if @tenji_request.data_type == 'data_type_file' %>
<%= file_column_field 'tenji_request', 'braille_datafile',:style => 'visibility:hidden', :size=>nil %>
<% end %>
<%= render :partial => 'hidden' %>
<%= double_submit_token %>
<h2>依頼人情報</h2>
<table class="col">
  <tr>
    <th>Eメール</th>
    <td><%= h current_user.email %></td>
  </tr>
  <tr>
    <th>お名前</th>
    <td><%= h @tenji_request.from_user_name %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= h @tenji_request.from_zip_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= h @tenji_request.from_user_address1 %></td>
  </tr>
  <tr>
    <th>ビル･マンション</th>
    <td><%= h @tenji_request.from_user_address2 %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= h @tenji_request.from_phone_number %></td>
  </tr>
</table>

<h2>お届け先</h2>
<% if params[:tenji_request]['to_type'] == 'to_type_same' %>
<!--依頼人の住所の場合以下表示-->
<p>依頼人の住所に送る</p>
<% else %>
<!--別の住所の場合以下表示-->
<table class="col">
  <tr>
    <th>お名前</th>
    <td><%= h @tenji_request.to_user_name %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= h @tenji_request.to_zip_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= h @tenji_request.to_user_address1 %></td>
  </tr>
  <tr>
    <th>ビル･マンション</th>
    <td><%= h @tenji_request.to_user_address2 %></td>
  </tr>
</table>
<% end %>

<!--テキスト入力の場合以下を表示-->
<% if @tenji_request.data_type == "data_type_text" %>
<h2>印刷依頼データ（テキスト入力）</h2>
<table class="col">
  <tr>
    <th>タイトル</th>
    <td><%= h @tenji_request.print_name %></td>
  </tr>
  <tr>
    <th>サブタイトル1</th>
    <td><%= h @tenji_request.print_title1 %></td>
  </tr>
  <tr>
    <th>内容1</th>
    <td><%= hbr @tenji_request.print_contents1 %></td>
  </tr>
  <tr>
    <th>サブタイトル2</th>
    <td><%= h @tenji_request.print_title2 %></td>
  </tr>
  <tr>
    <th>内容2</th>
    <td><%= hbr @tenji_request.print_contents2 %></td>
  </tr>
  <tr>
    <th>サブタイトル3</th>
    <td><%= h @tenji_request.print_title3 %></td>
  </tr>
  <tr>
    <th>内容2</th>
    <td><%= hbr @tenji_request.print_contents3 %></td>
  </tr>
</table>
<% elsif params[:tenji_request][:data_type] == 'data_type_file' %>
<!--ファイル添付の場合以下を表示-->
<h2>印刷依頼データ（ファイル添付）</h2>
<table class="col">
  <tr>
    <th>タイトル</th>
    <td><%= h @tenji_request.print_name %></td>
  </tr>
  <tr>
    <th>添付ファイル</th>
    <td>
<%= h params[:tenji_request][:braille_datafile].original_filename %></td>
  </tr>
</table>
<% end %>

<h2>連絡事項</h2>
<p>
<% unless @tenji_request.message.blank? %>
  <%= hbr @tenji_request.message %>
<% else %>
  無し
<% end %>
</p>

<p>
  <%= submit_tag 'この内容で印刷依頼する', :id => 'next', :name => 'next' %>
</p>
<% end -%>
<% form_tag({:controller => 'requests', :action => 'new'}) do -%>
<%= render :partial => 'hidden' %>
<p>
  <%= submit_tag '前画面に戻る', :id => 'next', :name => 'next' %>
</p>
<% end -%>