<script type="text/JavaScript">

<!--
window.onload=function(){
  setToForm(this);

  var list = document.getElementsByTagName("input");
        for(var i=0; i<list.length; i++){
        if(list[i].type == 'text' || list[i].type == 'password'){
            list[i].onkeypress = function (event){
                return submitStop(event);
            };
        }
    }
}

function submitStop(e){
    if (!e) var e = window.event;

    if(e.keyCode == 13)
        return false;
}

AjaxZip2.JSONDATA = '/ajaxzip2/data';

//-->
</script>
<h1 id="honbun">印刷依頼情報の入力<%= '：エラー' unless error_messages_for('tenji_request').blank? %></h1>
<p>
  <% if error_messages_for('tenji_request').blank? %>
  依頼人情報、お届け先、印刷依頼データを入力して、「確認画面へ」ボタンを押してください。
  <% else %>
  エラー内容を確認し、入力情報を修正後、「確認画面へ」ボタンを押してください。
  <% end %>
</p>

<!-- 改良版error_message_for -->
<%= template_error_messages_for 'tenji_request' %>

<% form_tag({:controller => 'requests', :action => 'confirm'},{:name=>'to_form',:multipart=>true, :method => :put}) do -%>
  <% fields_for :tenji_request do |f| %>
  <%= f.hidden_field(:data_type, :value => params[:data_type]) %>
<h2>依頼人情報</h2>
<table class="col">
  <tr>
    <th>Eメール</th>
    <td><%= h current_user.email %></td>
  </tr>
  <tr>
    <th><label for="name">お名前<span class="tCaution">(必須)</span></label></th>
    <td>
      <span class="fSmall">入力例：山田　花子</span><br />
      <%= f.text_field :from_user_name, :id => 'name', :size => 30, :class => "textB fullwidth-kana", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="zip">郵便番号<span class="tCaution">(必須)</span></label></th>
    <td>
      <span class="fSmall">入力例：123-4567</span><br />
      <%= f.text_field :from_zip_code, :id => "zip", :style => "ime-mode: disabled;", :size => "8", 
        :maxlength => "8", :class=>"textC ascii", :required => "required"#,
      # :onKeyUp => "AjaxZip2.zip2addr(this, 'tenji_request[from_user_address1]', 'tenji_request[from_user_address1]', null, 'tenji_request[from_user_address1]');"
      %>
      <input id="auto_add" name="auto_add" onclick="AjaxZip2.zip2addr('tenji_request[from_zip_code]', 'tenji_request[from_user_address1]', 'tenji_request[from_user_address1]', null, 'tenji_request[from_user_address1]');" type="button" value="住所を自動入力" class="btA" />
      
    </td>
  </tr>
  <tr>
    <th><label for="addr">住所<span class="tCaution">(必須)</span></label></th>
    <td>
      <span class="fSmall">入力例：愛媛県松山市1町目1番地</span><br />
      <%= f.text_field :from_user_address1, :id => "addr", :size => "60", :class => "textA fullwidth-kana", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="bill">ビル･マンション</label></th>
    <td>
      <span class="fSmall">入力例：みんなのICTビル　101号室</span><br />
      <%= f.text_field :from_user_address2, :id => "bill", :size => "60", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="tel">電話番号</label></th>
    <td>
      <span class="fSmall">入力例：000-1234-5678（携帯電話可）</span><br />
      <%= f.text_field :from_phone_number, :id => "tel", :style => "ime-mode: disabled;", :size => "15", :maxlength => "15", :class => "textB ascii" %>
    </td>
  </tr>
  <tr>
    <th><label for="group">所属</label></th>
    <td>
      <span class="fSmall">会社･団体等</span><br />
        <%= f.text_field 'from_user_affiliation', :id => "group", :size => "30", :class => "textB fullwidth-kana" %>
    </td>
  </tr>
</table>
<div class="boxB">
  <p class="mNon fSmall">
    ※チェックをいれると次回から入力する手間が省けます。<br />
    ※登録済みの情報を編集すると登録済み情報に上書きされます。
  </p>
  
  <p class="mNon">
    <label for="tenji_request_entry" class="fBold">
      <%= check_box_tag 'tenji_request[entry]', "1", true if params[:tenji_request][:entry].blank? || params[:tenji_request][:entry] == '1' %>
      <%= #f.check_box :entry, :id => 'entry', :onClick => "setToForm(this);",
        #:checked => (true if params[:tenji_request][:entry].blank? || params[:tenji_request][:entry] == '1')
      %>
      入力した依頼人情報(名前･住所等)を登録する。
    </label>
  </p>
</div>
<h2>お届け先</h2>
<fieldset>
  <legend class="acc">お届け先の選択</legend>
  <p>
    <label for="to_type_same" class="fBold">
      <%= f.radio_button :to_type, :to_type_same, {:id => 'to_type_same',
        :checked => (true if params[:tenji_request][:to_type].blank? || params[:tenji_request][:to_type] == 'to_type_same'), :onClick => "setToForm();"} %>
      上記の依頼人の住所に送る
    </label>
  </p>
  <p>
    <label for="to_type_other" class="fBold">
      <%= f.radio_button :to_type, :to_type_other, {:id => 'to_type_other',
        :checked => (true if params[:tenji_request][:to_type] == 'to_type_other'), :onClick => "setToForm();"} %>
      別の住所に送る（下のフォームにご入力ください）
    </label>
  </p>
</fieldset>
<div class="indent">
  <table class="col">
    <caption>
      別の住所
    </caption>
    <tr>
      <th><label for="name2">お名前<span class="tCaution">(必須)</span></label></th>
      <td>
        <%= f.text_field :to_user_name, :id => 'name2', :size => 30, :class => "textB fullwidth-kana", :required => "required" %>
      </td>
    </tr>
    <tr>
      <th><label for="zip2">郵便番号<span class="tCaution">(必須)</span></label></th>
      <td>
        <%= f.text_field :to_zip_code, :id => "zip2", :style => "ime-mode: disabled;", :size => "8", :maxlength => "8", :class=>"textC ascii", :required => "required"%>
      </td>
    </tr>
    <tr>
      <th><label for="addr2">住所<span class="tCaution">(必須)</span></label></th>
      <td>
        <%= f.text_field :to_user_address1, :id => "addr2", :size => "60", :class => "textA fullwidth-kana", :required => "required" %>
      </td>
    </tr>
    <tr>
      <th><label for="bill2">ビル･マンション</label></th>
      <td>
        <%= f.text_field :to_user_address2, :id => "bill2", :size => "60", :class => "textA fullwidth-kana" %>
      </td>
    </tr>
  </table>
</div>

<!--テキスト入力の場合以下を表示-->
<% if params[:tenji_request][:data_type] == "data_type_text" || @tenji_request.data_type == "data_type_text" %>
<h2>印刷依頼データ（テキスト入力）</h2>
<p>点字印刷を依頼したいテキスト情報を入力してください。見出しは3つ分の入力欄があります。</p>
<table class="col">
  <tr>
    <th><label for="print_name1">タイトル<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_field :print_name1, :id => "print_name1", :size => "30", :class => "textA fullwidth-kana", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_title1">サブタイトル1</label></th>
    <td>
      <%= f.text_field :print_title1, :id => "print_title1", :size => "30", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_contents1">内容1<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_area :print_contents1, :id => "print_contents1", :cols => 30, :class => "textareaA fullwidth-kana", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_title2">サブタイトル2</label></th>
    <td>
      <%= f.text_field :print_title2, :id => "print_title2", :size => "30", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_contents2">内容2</label></th>
    <td>
      <%= f.text_area :print_contents2, :id => "print_contents2", :cols => 30, :class => "textareaA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_title3">サブタイトル3</label></th>
    <td>
      <%= f.text_field :print_title3, :id => "print_title3", :size => "30", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="print_contents3">内容3</label></th>
    <td>
      <%= f.text_area :print_contents3, :id => "print_contents3", :cols => 30, :class => "textareaA fullwidth-kana" %>
    </td>
  </tr>
</table>

<% elsif params[:data_type] == 'data_type_file' || @tenji_request.data_type == "data_type_file" %>
<!--ファイル添付の場合以下を表示-->
<h2>印刷依頼データ（ファイル添付）</h2>
<p>
  点字印刷を依頼したいファイルの情報を入力してください。<br />
  3件まで添付できます。
</p>
<table class="col">
  <tr>
    <th><label for="print_file_title1">タイトル<span class="tCaution">(必須)</span></label></th>
    <td>
      <span class="fSmall">入力例：山田さんへの手紙</span><br />
      <%= f.text_field :print_name1, :id => "print_file_title1", :size => "30", :class => "textA fullwidth-kana", :required => "required" %>
    </td>
  </tr>
  <tr>
    <th><label for="braille_datafile1">添付ファイル<span class="tCaution">(必須)</span></label></th>
    <td>
      <p class="fSmall">
        下のフォームは直接入力することはできません。参照ボタンをクリック、またはスペースキーで押して、添付ファイルを選んでください。<br />
        添付ファイルはWordデータ（.doc又は.docxファイル）もしくは点字データ(.base、bse、besファイル)に限ります。
      </p>
      <p>
        <input id="braille_datafile1" name="tenji_request[braille_datafile1]" required="required" type="file" />
        <%= #f.file_field :braille_datafile, :id => 'braille_datafile', :required => 'required'
        %>
      </p>
    </td>
  </tr>
</table>

<p>複数のファイルを登録したい場合は、以下のフォームに情報を入力してください。</p>
<table class="col">
  <tr>
    <th><label for="print_file_title2">タイトル2</label></th>
    <td>
      <%= f.text_field :print_name2, :id => "print_file_title2", :size => "30", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="braille_datafile2">添付ファイル2</label></th>
    <td>
      <p>
        <input id="braille_datafile2" name="tenji_request[braille_datafile2]" type="file" />
      </p>
    </td>
  </tr>
</table>
<table class="col">
  <tr>
    <th><label for="print_file_title3">タイトル3</label></th>
    <td>
      <%= f.text_field :print_name3, :id => "print_file_title3", :size => "30", :class => "textA fullwidth-kana" %>
    </td>
  </tr>
  <tr>
    <th><label for="braille_datafile3">添付ファイル3</label></th>
    <td>
      <p>
        <input id="braille_datafile3" name="tenji_request[braille_datafile3]" type="file" />
      </p>
    </td>
  </tr>
</table>
<% end %>

<h2><label for="message">連絡事項</label></h2>
<p>連絡事項があれば入力してください。</p>
<p>
  <%= f.text_area :message, :id => "message", :cols => 5, :class => "textareaB fullwidth-kana" %>
</p>

<p>
  <%= submit_tag '確認画面へ', :id => 'next', :name => 'next' %>
</p>
  <% end -%>
<% end -%>