<%= render :partial => 'request_bar', :locals => {:status => 1} %>

<script type="text/JavaScript">
  
<!--
window.onload=function(){
  setToForm(this);
}
//-->
</script>
<h1>印刷依頼登録 <%= get_print_type_message %></h1>
<div class="margintopSmallArea">必要事項の入力後、「確認画面へ進む」ボタンをクリックしてください。</div>
<div class="margintopSmallArea"><strong>会社名、氏名のどちらかは必ず記入をお願いします。</strong></div>
<%= error_messages_for 'tenji_request' %>
<% form_tag({:controller => 'requests', :action => 'confirm', :type => params[:type]},{:name=>'to_form',:method => :put}) do -%>
<% fields_for :tenji_request do |f| %>
<div class="margintopLargeArea captionArea">依頼人情報</div>
<div class="margintopArea">依頼人の情報を入力してください。</div>
<div class="margintopArea">
  <%= f.check_box :regist_user,:onClick => "setToForm(this);" %>
  入力した名前・住所等を登録する。
  <div class="marginArea">
    <div class="margintopSmallArea">※チェックを入れると次回から入力する手間が省けます。</div>
    <div class="margintopSmallArea">※登録済みの情報を編集すると上書きされます。</div>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">メールアドレス：</div>
  <div class="margintopSmallArea">
    <%= h current_user.email %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>郵便番号(半角英数)：</div>
  <div>
    <%= f.text_field 'from_zip_code1',:class => 'ascii imeMode', :size => 10, :maxlength=>3 %> -
    <%= f.text_field 'from_zip_code2',:class => 'ascii imeMode', :size => 10, :maxlength=>4 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>住所(都道府県)：</div>
  <div>
    <%= f.collection_select(:from_user_address1,select_master_data('pref_name'),:item_data,:item_data,:prompt => '選択してください。') %>
  </div>
</div>
<div class="clearDiv"></div>
<div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>市区郡：</div>
  <div>
    <%= f.text_field 'from_user_address2', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>町村字：</div>
  <div>
    <%= f.text_field 'from_user_address3', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>番　地：</div>
  <div>
    <%= f.text_field 'from_user_address4', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">建物名：</div>
  <div>
    <%= f.text_field 'from_user_address5', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">会社名：</div>
  <div>
    <%= f.text_field 'from_lastname_kanji', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">部署名：</div>
  <div>
    <%= f.text_field 'from_lastname_kana', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">氏名：</div>
  <div>
    <%= f.text_field 'from_firstname_kanji', :size => 48, :maxlength=>100 %>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">電話番号(半角英数)：</div>
  <div>
    <%= f.text_field 'from_phone_number1',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%> -
    <%= f.text_field 'from_phone_number2',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%> -
    <%= f.text_field 'from_phone_number3',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%>
  </div>
</div>
<div class="margintopArea">
  <div class="formCaption">携帯電話番号(半角英数)：</div>
  <div>
    <%= f.text_field 'from_cellphone_number1',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %> -
    <%= f.text_field 'from_cellphone_number2',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %> -
    <%= f.text_field 'from_cellphone_number3',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %>
  </div>
</div>

<div class="margintopLargeArea captionArea">発送先情報</div>
  <div class="margintopArea">発送先の情報を入力してください。</div>
  <div class="margintopArea">
    <%= f.check_box :same_address,:onClick => "setToForm();" %>
    依頼人の住所に送る
  </div>
  <div class="margintopArea">
  <div class="formCaption"><strong>（必須）</strong>郵便番号(半角英数)：</div>
    <div>
      <%= f.text_field 'to_zip_code1',:class => 'ascii imeMode', :size => 10, :maxlength=>3 %> -
      <%= f.text_field 'to_zip_code2',:class => 'ascii imeMode', :size => 10, :maxlength=>4 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>住所(都道府県)：</div>
    <div>
      <%= f.collection_select(:to_user_address1,select_master_data('pref_name'),:item_data,:item_data,:prompt => '選択してください。') %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>市区郡：</div>
    <div>
      <%= f.text_field 'to_user_address2', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>町村字：</div>
    <div>
      <%= f.text_field 'to_user_address3', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>番　地：</div>
    <div>
      <%= f.text_field 'to_user_address4', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">建物名：</div>
    <div>
      <%= f.text_field 'to_user_address5', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">会社名：</div>
    <div>
      <%= f.text_field 'to_lastname_kanji', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">部署名：</div>
    <div>
      <%= f.text_field 'to_lastname_kana', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">氏名：</div>
    <div>
      <%= f.text_field 'to_firstname_kanji', :size => 48, :maxlength=>100 %>
    </div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">電話番号(半角英数)：</div>
    <div>
      <%= f.text_field 'to_phone_number1',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%> -
      <%= f.text_field 'to_phone_number2',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%> -
      <%= f.text_field 'to_phone_number3',:class => 'ascii imeMode', :size => 10, :maxlength => 4 -%>
    </div>
  </div>
  
  <div class="margintopArea">
    <div class="formCaption">携帯電話番号(半角英数)：</div>
    <div>
      <%= f.text_field 'to_cellphone_number1',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %> -
      <%= f.text_field 'to_cellphone_number2',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %> -
      <%= f.text_field 'to_cellphone_number3',:class => 'ascii imeMode', :size => 10, :maxlength => 4  %>
    </div>
  </div>
  <div class="margintopLargeArea captionArea">依頼情報</div>
  <div class="margintopArea">点字印刷の依頼情報を入力してください。</div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>タイトル：</div>
    <div><%= f.text_field 'req_title', :size => 48, :maxlength => 100 %></div>
  </div>
  <% if params[:type] == 'text' %>
  <div class="margintopArea">印刷情報の入力見出しは3つ分の入力欄があります。</div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>見出し1：</div>
    <div><%= f.text_field 'sub_title1', :size => 48, :maxlength => 100 %></div>
  </div>
  <div class="margintopArea">
    <div class="formCaption"><strong>（必須）</strong>内容1：</div>
    <div><%= f.text_area 'entry1', :rows =>15, :cols =>40 %></div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">見出し2：</div>
    <div><%= f.text_field 'sub_title2', :size => 48, :maxlength => 100 %></div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">内容2：</div>
    <div><%= f.text_area 'entry2', :rows =>15, :cols =>40 %></div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">見出し3：</div>
    <div><%= f.text_field 'sub_title3', :size => 48, :maxlength => 100 %></div>
  </div>
  <div class="margintopArea">
    <div class="formCaption">内容3：</div>
    <div><%= f.text_area 'entry3', :rows =>15, :cols =>40 %></div>
  </div>

  <% elsif params[:type] == 'upload' %>
    <% fields_for :file do |f| %>
  <div class="margintopArea">依頼データは、テキストボックスからの入力または参照ボタンでファイルを選択してください。</div>
  <div class="margintopArea">
    <div class="formCaption">依頼データ：</div>
    <div><%= f.file_field 'temp_file', :title => '依頼データ参照' %></div>
  </div>
  <div class="margintopArea">ファイル名は半角英数字と一部の半角記号(._-)の使用が可能です。</div>
  <div class="margintopArea">依頼データはWordデータ（.docまたは.docxファイル）もしくは点字データ(.Base又は.Besファイル)に限ります。</div>
  <% end %>

  <% end %>
<% end %>
<div class="margintopArea">
  <%= submit_tag '確認画面へ進む', :name => 'next_page', :disable_with => 'しばらくお待ちください。' %>
<% end -%>
</div>