<h1 id="honbun">印刷依頼<%= '：エラー' unless flash[:error].blank? %></h1>

<% if flash[:error].blank? %>
<p>
  登録済みユーザー情報のメールアドレスとパスワードを入力し、印刷依頼に使用するデータ形式を選択して「印刷依頼情報入力へ」ボタンをおしてください。
</p>
<% else %>
<p class="tCaution boxB">
  入力されたユーザー情報のメールアドレスもしくはパスワードが正しくありません。登録されているユーザー情報を入力してください。
</p>  
<% end %>

<p>ユーザー登録されていない方は、事前に「<%= link_to 'ユーザ新規登録', ICT4E_ACCOUNTS_URL + 'signup' %>」が必要です。</p>
<p>※）2011年7月10日より前にユーザ登録された方は、お手数ですが、再度登録をお願いします。</p>
<% form_tag :controller => 'sessions', :action => 'create' do -%>
  <% fields_for :users do |f| %>
<h2>登録済みユーザー情報</h2>
<table class="col">
  <tr>
    <th><label for="email">Eメール<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_field 'email', :id=> 'email',:size=> '30', :style => 'ime-mode: disabled;',
        :type => 'email', :class=>'textB ascii', :required => 'required', :value=>@user_email %>
    </td>
  </tr>
  <tr>
  <th><label for="password">パスワード<span class="tCaution">(必須)</span></label></th>
  <td>
    <%= f.password_field 'password', :id => 'password', :size => "10", :style => "ime-mode: disabled;",
      :class => "textC ascii", :required => "required" %>
    <%= link_to 'パスワードを忘れた方', ICT4E_ACCOUNTS_URL + 'users/forget' %></td>
  </tr>
</table>

<h2>印刷依頼データの形式</h2>
<fieldset>
  <legend class="acc">印刷依頼データの選択</legend>
  <p>
    <label for="data_type_text" class="fBold">
      <%= f.radio_button :data_type, :data_type_text, {:id => :data_type_text, 
        :checked => (true if (params[:users].blank? || params[:users][:data_type] == 'data_type_text'))} %>テキスト入力
    </label>
    <br />入力フォームに直接テキストを入力します。
  </p>
  <p>
    <label for="data_type_file" class="fBold">
      <%= f.radio_button :data_type, :data_type_file, {:id => 'data_type_file',
        :checked => (true if !params[:users].blank? && params[:users][:data_type] == 'data_type_file')} %>ファイル添付
    </label>
    <br />添付可能ファイルはWord(.docまたは.docx)もしくは点字データ(.Baseまたは.Bes)
  </p>
</fieldset>

<p><%= submit_tag '印刷依頼情報入力へ', :name => 'next' %></p>
  <% end -%>
<% end -%>

<div  class="backMenu">
  <p><a href="index.php" class="linkBack">ネット点字印刷:メニュー</a></p>
</div>