<h1 id="honbun">印刷依頼<%= '：エラー' unless flash[:error].blank? %></h1>
<p>
  <% if flash[:error].blank? %>
  登録済みユーザー情報のメールアドレスとパスワードを入力し、印刷依頼に使用するデータ形式を選択して「印刷依頼情報入力へ」ボタンをおしてください。
  <% else %>
  入力されたユーザー情報のメールアドレスもしくはパスワードが正しくありません。登録されているユーザー情報を入力してください。
  <% end %>
</p>
<p>ユーザー登録されていない方は、事前に「<%= link_to 'ユーザ新規登録', ICT4E_ACCOUNTS_URL + 'signup' %>」が必要です。</p>
<% form_tag :controller => 'sessions', :action => 'create' do -%>
  <% fields_for :users do |f| %>
<h2>登録済みユーザー情報</h2>
<table class="col">
  <tr>
    <th><label for="email">Eメール<span class="tCaution">(必須)</span></label></th>
    <td>
      <%= f.text_field 'email', :id=> 'email',:size=> '30', :style => 'ime-mode: disabled;',
        :type => 'email', :class=>'textB ascii', :required => 'required', :value=>@user_email %>
    </td>
  </tr>
  <tr>
  <th><label for="password">パスワード<span class="tCaution">(必須)</span></label></th>
  <td>
    <%= f.password_field 'password', :id => 'password', :size => "10", :style => "ime-mode: disabled;",
      :class => "textC ascii", :required => "required" %>
    <a href="../user/forget.php">パスワードを忘れた方</a></td>
  </tr>
</table>

<h2>印刷依頼データの形式</h2>
<fieldset>
  <legend class="acc">印刷依頼データの選択</legend>
  <p>
    <label for="data_type_text" class="fBold">
      <%= f.radio_button :data_type, :data_type_text, {:id => :data_type_text, :checked => true} %>テキスト入力
    </label>
    <br />入力フォームに直接テキストを入力します。
  </p>
  <p>
    <label for="data_type_file" class="fBold">
      <%= f.radio_button :data_type, :data_type_file, {:id => 'data_type_file'} %>ファイル添付
    </label>
    <br />添付可能ファイルはWord(.docまたは.docx)もしくは点字データ(.Baseまたは.Bes)
  </p>
</fieldset>
<p><%= submit_tag '印刷依頼情報入力へ', :name => 'next', :disable_with => 'しばらくお待ちください。' %></p>
  <% end -%>
<% end -%>